@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

header {
  font-family: "Sofadi One";
  background-color: #f58220;
  color: white;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2.5px;
  height: 88px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header > h1 {
  font-weight: 600;
  font-size: 26px;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header > div > img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
